
<div>
    <h2><span data-translate="jhipsterCassandraSampleApplicationApp.foo.detail.title">Foo</span> {{vm.foo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="jhipsterCassandraSampleApplicationApp.foo.bar">Bar</span></dt>
        <dd>
            <div ng-if="vm.foo.bar">
                <a ng-click="vm.openFile(vm.foo.barContentType, vm.foo.bar)">
                    <img data-ng-src="{{'data:' + vm.foo.barContentType + ';base64,' + vm.foo.bar}}" style="max-width: 100%;" alt="foo image"/>
                </a>
                {{vm.foo.barContentType}}, {{vm.byteSize(vm.foo.bar)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="foo-detail.edit({id:vm.foo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
